body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container{
    display: grid;
    grid-template-columns: repeat(19, 35px);
    grid-template-rows: repeat(22, 35px);
}

.mur{
    background-image: url(../img/mur.png);
}

.sol{
    background-image: url(../img/sol.gif);
}

.gum{
    background-image: url(../img/rupee.png);
}