@font-face{
    font-family: "Crackman";
    src: url("../fonts/crackman/crackman.ttf") format("truetype");
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1{
    font-family: "crackman";
    font-size: 40px;
}

.container{
    display: grid;
    grid-template-columns: repeat(19, 35px);
    grid-template-rows: repeat(22, 35px);
}

.mur{
    background-image: url(../img/mur.png);
}

.sol{
    background-image: url(../img/sol.gif);
}

.gum{
    background-image: url(../img/rupee.png);
}

.player{
    background-image: url(../img/link.png);
}

.ghost0{
    background-image: url(../img/chicken.png);
}

.ghost1{
    background-image: url(../img/chicken.png);
}

.ghost2{
    background-image: url(../img/chicken.png);
}

.ghost3{
    background-image: url(../img/chicken.png);
}
